<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.ProgramMapper">

    <resultMap id="ProgramResultMap" type="com.example.entity.Program">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="subtitle" property="subtitle"/>
        <result column="category" property="category"/>
        <result column="venue" property="venue"/>
        <result column="address" property="address"/>
        <result column="description" property="description"/>
        <result column="cover_image" property="coverImage"/>
    </resultMap>

    <select id="selectById" resultMap="ProgramResultMap">
        SELECT id, title, subtitle, category, venue, address, description, cover_image,session
        FROM events
        WHERE id = #{id}
    </select>
</mapper>
